formbarUrl=http://localhost:420
formpixUrl=http://localhost:421
thisUrl=http://localhost:3000
apiKey= put-ur-apikey-here
poolID= #pool id for transfers
ownerid= #id for the owner(s)
price = #price for your sounds
